---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Fernando Panduro</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        💼 My technology stack includes Astro, Next.js, React, TypeScript and Tailwind to create highly responsive and attractive interfaces. Also, I am an expert in database management using Prisma, MongoDB and PostgreSQL. My extensive knowledge of JavaScript ensures robust and efficient web applications.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn bg-amber-500 text-white hover:bg-amber-600" href="https://www.linkedin.com/in/fernando-panduro/" target="_blank"> Let's connect!</a>
      <a href="/cv-Fernando_Panduro.pdf" download class="btn btn-outline ml-5">
        Download CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My 3D projects</div>
  </div>
  
  <HorizontalCard
    title="3D Island"
    img="/3D_island.png"
    desc="3D Island created with ReactJS and ThreeJS"
    url="https://world.ferpanduro.com/"
    badge="NEW"
    stack={['ReactJS', 'TailwindCSS','ThreeJs', 'Vite']}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Courses"
    img="/courses.jpg"
    desc="Platform of courses in programming, engineering, art..."
    url="https://courses-next-ten.vercel.app/"
    badge="NEW"
    stack={['NextJS', 'ReactJS', 'TypeScript', 'TailwindCSS','MySQL', 'Stripe', 'Mux', 'Prisma']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Chirey"
    img="/chirey.jpg"
    desc="Chirey the car brand that is innovating in design, technology and safety. The brand committed to quality that gives you a 10-year warranty.."
    url="https://chirey.mx/"
    badge="NEW"
    stack={['HTML5', 'CSS3', 'Javascript', 'Bootstrap', 'Jquery', 'ThreeJS']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="MG Motor"
    img="/mg.jpg"
    desc="A brand with British heritage, the latest in technology and the backing of one of the most important car manufacturers on the planet: SAIC Motor."
    url="https://www.mgmotor.com.mx/"
    stack={['HTML5', 'CSS3', 'Javascript', 'Bootstrap', 'JQuery']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Tarjetly"
    img="/tarjetly.jpg"
    desc="Digital business cards designed to help you grow your business network."
    url="https://tarjetly.com/"
    stack={['ReactJS', 'CSS3', 'Javascript', 'Bootstrap', 'Vite']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Kia"
    img="/kia.jpg"
    desc="Car brand, with the latest in technology. It is a manufacturer of quality vehicles for young at heart customers."
    url="https://www.kia.com/mx/main.html"
    stack={['HTML5', 'CSS3', 'Javascript', 'TailwindCSS', 'JQuery']}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest projects with AI</div>
  </div>

  <HorizontalCard
    title="Youtube Script AI"
    img="/youtubeai.jpg"
    desc="Boost your success on YouTube with high-quality metadata thanks to our artificial intelligence. Save time and effortlessly attract your audience in each video."
    url="https://youtube-ai-script.vercel.app/"
    badge="NEW"
    stack={['NextJS', 'ReactJS', 'TypeScript', 'TailwindCSS']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Temach AI"
    img="/ai.jpg"
    desc="Artificial intelligence-powered chat bot to help you find love"
    url="https://temachia.ferpanduro.com/"
    stack={['NextJS', 'ReactJS', 'TypeScript', 'TailwindCSS', 'Prisma']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Shirt AI"
    img="/shirt.jpg"
    desc="Create your unique and exclusive shirt with our brand-new 3D customization tool. Unleash your imagination and define your own style."
    url="https://threejs-product-shirt.netlify.app/"
    stack={['Vite', 'ReactJS', 'TypeScript', 'TailwindCSS', 'ThreeJS']}
  />
  <div class="divider my-0"></div>


</BaseLayout>
