---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Fernando Panduro
  </div>
  <div class="inline opacity-75">
    <a href="https://github.com/fernandopanduro" target="_blank" class="font-bold">Portfolio</a> developed by
    <a href="https://www.linkedin.com/in/fernando-panduro" target="_blank" class="font-bold">Fernando Panduro ⚡️</a>
  </div>
</footer>
<style>

</style>
